* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #27272a;
    color: white;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 20rem;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 90px);
    grid-template-rows: repeat(8, 90px);
    gap: 0;
    border: 2px solid #333;
}

.square {
    width: 90px;
    height: 90px;
    position: relative;
}

.black {
    background-color: #769656;
}

.white {
    background-color: #eeeed2;
}

.knight {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 90%;
    margin-top: 0.2rem;
}

.marked {
    background-color: red !important;
}

#interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#controls {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #18181b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 250px;
    transition: 0.2s ease-in-out;
}

button:hover {
    background-color: #44403c;
    transform: scale(1.15);
}