* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #27272a;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 90px);
    grid-template-rows: repeat(8, 90px);
    gap: 0;
    border: 2px solid #333;
}

.square {
    width: 90px;
    height: 90px;
    position: relative;
}

.black {
    background-color: #769656;
}

.white {
    background-color: #eeeed2;
}

.knight {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 90%;
    margin-top: 0.2rem;
}

.marked {
    background-color: red !important;
}